<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDaoSVC" class="ru.otus.spring202202.ekaryagin.dao.QuestionDaoSVC">
        <constructor-arg name="questionsFileSource" value="questions.svc"/>
    </bean>

    <bean id="questionServiceImpl" class="ru.otus.spring202202.ekaryagin.service.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDaoSVC"/>
    </bean>

</beans>